@font-face{
	font-family: 'Wisdom Script';
	src: url('../fonts/wisdom-script.otf') format('opentype');
}

html {
	font-size: 16px;
}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1em;
	flex-direction: column;
}

.container{
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex-basis: 100%;
	flex-wrap: wrap;
}

h1,
h2,
h3,
h4 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 1.875em;
}
h2 {
    font-size: 1.5px;
}
h3 {
	font-size: 1.5em;
}
h4 {
	font-size: .75em;
}

p {
	font-size: 1.15em;
	line-height: 21px;
    padding: 0 30px;
}

/*The widths are in a percentage!*/
header {
	height: 110px;
	border-bottom: 3px solid #77a466;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;

}

header h1 {
	float: left;
	margin: 0;
	padding: 38px 0;
	order: 1;
}
header h1 span {
	color: #77a466;
}

header nav {
	float: right;
	padding: 46px 0;
	order: 2;
	padding: 0;
}
header nav ul {
	margin: 0;
	padding: 0;
}
header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;
	padding: 0 10px;
	display: block;
	padding-bottom: 5px;
}
header nav ul li a{
	text-decoration: none;
	color:#77a466;
	font-weight: bold;

}

a {
	text-decoration: none;
	color:#77a466;
	text-transform: uppercase;

}

ul {
	list-style: none;
	padding: 0;
	font-weight: bold;
}

li {
	padding-bottom: 20px;
}

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
	margin: 0 auto;
	clear: both;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.main-image {
	height: auto;
	float: left;
	width: 100%;
}
.main-image img {
	width: 100%;
	border-bottom: 3px solid #77a466;
	order: 3;
}

.main-title {
	height: auto;
	float: left;	
}
.main-title h3 {
	text-align: left;
	padding: 5px 0;
	color: #77a466;
}
.main-title p {
	padding: 0;
	font-size: 16px;
	line-height: 25px;
}

.section-one,
.section-two,
.section-three {
	width: 100%;
	height: auto;
	float: left;
	border-top: 1px solid #eee;
	text-align: center;
}

.section-one h4 {
	padding: 10px 0;
}

.section-two {
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}

.section-two h4,
.section-three h4 {
	padding: 10px 30px;
}

.menu {
	list-style: none;
	padding: 0;
}
.menu li {
	padding: 10px 0;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 16px;
	line-height: 21px;
}

.address {
	font-size: 16px;
	line-height: 24px;
}

/*The widths are in a percentage!*/
footer {
	width: 100%;
	height: 50px;
	border-top: 3px solid #eee;
	margin: 0 auto;
	clear: both;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	order: 5;
}
footer span {
	font-family: 'Wisdom Script', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 14px;
}

@media (min-width: 1281px) {
.section-one,
.section-two,
.section-three {
	width: 33%;
	height: auto;
	float: left;
	border-top: 1px solid #eee;
	text-align: center;
	flex-direction: row;
}
  
  
}

@media (min-width: 768px) and (max-width: 1024px) {
  
.section-one,
.section-two,
.section-three {
	width: 33%;
	height: auto;
	float: left;
	border-top: 1px solid #eee;
	text-align: center;
	flex-direction: row;
}

header nav ul li {
	display: inline;
}
  
}
